.productList {
  width: 50%;
  height: 80vh;
  padding: 34px;
}
.products {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  min-height: 100%;
  overflow-y: auto;
}

.basket {
  height: min-content;
  width: 400px;
  align-self: start;
}
